node_modules
course-materials/*
!course-materials/.gitkeep
lecture-materials/*
!lecture-materials/.gitkeep
assignments/*
!assignments/.gitkeep
assignment-submissions/*
!assignment-submissions/.gitkeep
test.js